html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
}

*, *:before *:after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-family: arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgba(153, 153, 153, 0.096);
}

.mainСontainer {
    max-width: 100%;
    height: 100%;
    margin: 0 auto 70px ;
    transition: transform 1s;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_boxShadow {
    background-color: white;
    background: rgb(255, 255, 255);
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15),
        0 10px 0 -5px rgb(255, 255, 255),
        0 10px 1px -4px rgba(0,0,0,0.15),
        0 20px 0 -10px rgb(255, 255, 255),
        0 20px 1px -9px rgba(0,0,0,0.15);
}

.content__title {
    font-size: 6vw;
    color: rgba(194, 66, 66, 0.897);
    opacity: .3;
}

.content__allDone {  
    display: none;
}

.allDone {  
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: white;
    background-image: url(images/angle-arrow-down.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1vw .8vw;
    opacity: .3;
    transition: opacity 1s;
}

.wrapper {
    width: 4vw;
}

.content__allDone:hover {
    opacity: .6;
}

.content__btnAddToDo {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.content__newToDo { 
    width: 25vw;
    height: 2.5vw;
    font-size: 1.2vw;
    padding: .5vw .5vw .5vw .5vw;
    outline: none;
    border: 0;
}

input::-webkit-input-placeholder {
    color: rgba(105, 105, 105, 0.295) !important;
    font-style: italic;
}
    
input:-moz-placeholder {
    color: rgba(105, 105, 105, 0.295) !important; 
    font-style: italic;
}
    
input:-ms-input-placeholder {  
    color: rgba(105, 105, 105, 0.295) !important;
    font-style: italic;
}

.list {
    display: flex;
    flex-direction: column;
}

.list__item {
    display: none;
}

.item {
    position: relative;
    font-size: 1.2vw;
    border-width: 1px;
    border-top: 1px solid rgba(128, 128, 128, 0.185);
    background-color: white;
}

.toggleNotDone {
    position: absolute;
    left: .85vw;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 1.6vw;
    height: 1.6vw;
    border: 1px solid rgba(75, 75, 75, 0.151);
    outline: none;
    background-color: white;
    border-radius: 50%;
    transition: border .3s;
    vertical-align: middle;
}

.toggleNotDone:hover {
    border: 1px solid rgba(63, 143, 38, 0.397);
}

.toggleDone {
    position: absolute;
    left: .85vw;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 1.6vw;
    height: 1.6vw;
    border: 1px solid rgba(23, 116, 72, 0.384);
    outline: none;
    background-color: white;
    background-image: url(images/greenCheck.png);
    background-position: center;
    background-size: 70% 90%;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: border .3s;
    opacity: .7;
    z-index: 5;
}

.toggleDone:hover {
    opacity: .8;
    border: 1px solid rgba(165, 65, 65, 0.397);
}

.textItem { 
    display: inline-block;
    overflow-wrap: break-word;
    top: 0;
    bottom: 0;
    padding: .85vw 4vw;
    margin: auto 0;
    line-height: 1.5vw;
    width: 21vw;
    transition: opacity .3s;
}

.lineThrough {
    opacity: .5;
    text-decoration: line-through;
}

.destroy { 
    position: absolute;
    top: 0;
    left: 27vw;
    bottom: 0;
    margin: auto 0;
    width: 1.6vw;
    height: 1.6vw;
    background-color: white;
    outline: none;
    border: none;
    opacity: 0;
    transition: opacity .2s;
}

.item:hover .destroy {
    opacity: 1;
}

.destroy:hover::after {
    opacity: 1;
}

.destroy:hover::before {
    opacity: 1;
}

.destroy::before {
    content: "";
    position: absolute;
    display: block;
    width: 1.3vw;
    height: .2vw;
    transform: rotate(45deg);
    background-color: rgba(194, 66, 66, 0.897);
    transition: opacity .2s;
    opacity: .5;
}

.destroy::after {
    content: "";
    position: absolute;
    display: block;
    width: 1.3vw;
    height: .2vw;
    transform: rotate(-45deg);
    background-color: rgba(194, 66, 66, 0.897);
    transition: opacity .2s;
    opacity: .5;
}

.destroyImg {
    position: absolute;
    top: -8px;
    left: 0;
}

.content__editToDo {
    width: 26.2vw;
    height: 2vw;
    font-size: 1.2vw;
    padding: .5vw .5vw .5vw .5vw;
    outline: none;
    margin-left: 3.6vw;
    border: 2px solid rgba(165, 64, 64, 0.267);
}

.filter {
    height: 1.3vw;
    font-size: .5vw;
    padding: .5vw .5vw .5vw .5vw;
    border: 0;
    background-color: white;
    border-top: 1px solid rgba(128, 128, 128, 0.185);
}

.content__filter {
    display: none;
}

.filter_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todoCount {
    margin: .2vw .7vw;
    font-size: .7vw;
}

.filters {
    display: flex;
}

.filterSwitch__btn {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: white;
    font-size: 13px;
    outline: none;
    cursor: pointer;
}

.filterSwitch__btn.included {
    border-color: rgba(194, 66, 66, 0.456);
}

.wrapperClearCompleted {
    text-align: center;
    width: 8vw;
    padding: .2vw 0;
}

.clearCompleted {
    display: none;
    border: none;
    outline: none;
    margin: auto;
    padding: 0;
    color: rgba(0, 0, 0, 0.185);
    background-color: white;
    transition: 1s;
    cursor: pointer;
}

.clearCompleted:hover {
    color: rgba(70, 22, 22, 0.689); 
}

.show {
    display: block;
}


/* @media ============================== */
@media (max-width: 1368px) {
    
.content__title {
    font-size: 85px;
}

.allDone {  
    background-size: 14px 12px;
}

.wrapper {
    width: 55px;
}

.content__newToDo { 
    width: 345px;
    height: 33px;
    font-size: 16px;
    padding: 7px;
}

.item {
    font-size: 16px;
}

.toggleNotDone {
    width: 24px;
    height: 24px;
}

.toggleDone {

    width: 24px;
    height: 24px;
}

.textItem { 
    line-height: 20px;
    width: 278px;
    padding: 10px 50px 10px;
}

.destroy { 
    left: 367px; */
    width: 22px;
    height: 22px;
}

.destroy::before {
    width: 18px;
    height: 3px;
}
.destroy::after {
    width: 18px;
    height: 3px;
}

.content__editToDo {
    width: 345px;
    height: 28px;
    font-size: 16px;
    padding: 7px;
    margin-left: 47px;
}

.filter {
    height: 18px;
    font-size: 11px;
    padding: 7px;
}

.todoCount {
    margin: 3px 9px;
    font-size: 12px;
}

.wrapperClearCompleted {
    width: 110px;
    padding: 3px 0;
}

}

